body {
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

input, textarea {
    width: 60%;
    padding: 10px;
}

.pantalla {
    margin-top: 20px;
}

.oculto {
    display: none;
}

pre {
    background: #222;
    padding: 10px;
    width: 60%;
    margin: auto;
}
