<!DOCTYPE html>
<html>
<head>
    <title>Curso Python</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🐍 Curso básico de Python</h1>

<p>Responde las preguntas:</p>

<div>
    <p>1. ¿Qué función muestra texto?</p>
    <input id="q1">
</div>

<div>
    <p>2. ¿Cómo se hacen comentarios?</p>
    <input id="q2">
</div>

<div>
    <p>3. ¿Qué tipo es "hola"?</p>
    <input id="q3">
</div>

<button onclick="enviar()">Enviar</button>

<h2 id="resultado"></h2>

<script src="/static/script.js"></script>

</body>
</html>
